.pagination {
  display: flex;
  justify-content: center;
  bottom: 10px;
  padding: 20px;
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
  background-color: #eee3f2;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.pagination button:hover {
  background-color: #9b4dc0;
}

.pagination button:disabled {
  cursor: not-allowed;
  background-color: #ddd;
}

.pagination button.active {
  background-color: #d7b6e5;
  color: white;
}
